.text-purple {
    color:rgb(62, 58, 82);
}

.bg-purple {
    background-color: rgb(62, 58, 82);;
}

.bg-darkpurple {
  background-color: rgb(49, 46, 65);;
}

.main-footer {
  color:#ffffff;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/*
.button-with-screen-size
{
  @media (min-width: {576px}) { @extend .btn-small }
  @media (min-width: {768px}) { @extend .btn-small }
}
*/
@media (min-width: 768px) {
  .news-input {
    width:50%;
  }
}
@media (max-width: 960px) {
  #something {
    text-align: center;
  }

  #something-button {
    margin-top: 10px;
  }
}

#something-image {
  float: right;
}
